@charset "utf-8";
@import url("http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./normalize.css");
@import url("fontello.css");
*,*::before, *::after{
  box-sizing: border-box;
}
/* 숨긴 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 링크스타일 */
a{
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:focus{
  box-shadow: 0 0 5px 1px rgba(7, 1, 78, 0.467);
}
html{
  font-size: 10px;
}
body{
  background:#fff;
  color: #181818;
  font-size: 1.4rem;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
}
/* 컨테이너 */
.container{
  background: url("./images/bg_flower.png") no-repeat 50% 0,
  #aaa linear-gradient(#ccc,#eee 35%, #fff 65%, #fff 100%);
}
.header,.visual,.main,.slogan,.footer{
  width:940px;
  margin:0 auto;
}
/* 헤더 */
.header{
  background:#fff; 
  position: relative;
  border-radius: 0 0 15px 15px;
  padding-bottom: 5px;
}
/* 로고 */
.logo{
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  left: 60px;
  top: 45px;
}
/* 멤버 링크 */
.member{
  margin: 0 23px 0 30px;
  padding-left: 0;
  list-style-type: none;
  text-align: right;
  font-size: 0;
}
.member li, .member a{
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
  padding-top: 3px;
  padding-bottom: 3px;
}
.member a{
  padding: 0.5em;
  text-transform: uppercase;
}
/* 메인메뉴 */
.navigation{
  padding-bottom: 32px;
}
.menu{
  height: 49px;
  border-top: 2px solid #000;
  margin:0 30px;
  background: rgb(217,123,39); 
  background: linear-gradient(180deg, rgb(255, 129, 18) 0%, rgb(202, 87, 10) 35%, rgb(202, 87, 10) 70%, rgb(255, 129, 18) 100%);
  padding-left: 230px;
  list-style: none;
  border-radius: 0 0 5px 5px;
}
.menu-item{
  position: relative;
  float:left;
  border-left: 2px solid rgb(255,255,255,0.5);
}
.btn-menu{
  display: block;
  padding:1em 1.45em;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-act .btn-menu{
  color: #ff0;
}
.btn-menu a:focus{
  box-shadow:initial;
  }
.menu-act .btn-menu::after{
  content: "";
  background: pink;
  display: block;
  border-top: 2px solid #000;
  position: relative;
  top: 1em;
}
.sub-menu{
  display: none;
  position: absolute;
  padding-left: 0px;
  list-style: none;
  top:49px;
  white-space: nowrap;
}
.sub-menu1, .sub-menu2, .sub-menu3 {
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}
.menu-act .sub-menu{
  display: block;
}
.sub-menu li, .sub-menu a{
  display: inline-block;
}
.sub-menu a{
  padding: 0.5em 0.5em 0.5em 0;
}
/* 비주얼 */
/* 비주얼 애니메이션 */
@keyframes textAni{
  0%{
    font-size:12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size:24px;
    color: rgba(0,0,0,1);
    transform: translate(400px,75px);
  }
}
@keyframes bgAni{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.visual{
  height:120px;
  position: relative;
}
.visual::before,.visual::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: bgAni;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.visual::before{
  background: url("./images/ani_flower_01.png") no-repeat 0 -10px, url("./images/ani_flower_02.png") no-repeat 670px 0;
}
.visual::after{
  animation-delay: 500ms;
  /* background: hsla(200,50%,50%,0.5); */
  background: url("./images/ani_flower_03.png") no-repeat 300px 0, url("./images/ani_flower_04.png") no-repeat 800px 0;
}
.visual-text{
  width: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  animation-name: textAni;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

/* 메인콘텐츠 */
.main{
  background: #fff;
  border-radius: 15px 15px 0 0;
  padding: 30px 15px;
  overflow: hidden;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: space-around; */
}
.group{
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  min-height: 400px;
}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}
/* 로그인 */
.login{
  background: radial-gradient(circle at right top, rgb(255, 129, 18), rgb(202, 87, 10));
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #aaa;
}
.login-heading{
  color: #ff0;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 0 10px 10px;
}
.login-form{
  background-color: #fff;
  border-radius: 5px 5px 0 0 ;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
}
.login-form fieldset{
  padding: 0;
  border: none;
  margin: 0;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}
.user-email, .user-pw{
  margin-bottom: 5px;
}
.login-form label{
  display: inline-block;
  width: 4em;
}
[for="userEmail"],[for="userPw"]{
  display: inline-block;
  width: 4em;
}
[name="userId"], [name="userPwd"]{
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 0 0 0.5em;
}
.btn-login{
  position: absolute;
  top: 0;
  right: 0;
}
.sign{
  background-color: #fff;
  padding: 10px 10px 10px 5px;
  border-radius: 0 0 5px 5px;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.sign a::before{
  color: rgb(202, 87, 10);
}
.btn-login{
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 55px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 0;
  background-color: #ed552f;
  font-size: 1.2rem;
}
/* 유효성 검사 배너 */

/* 웹 관련 용어 */

/* 슬로건 */
.slogan{
  background: lime;
  height:10vh;
}
/* 푸터 */
.footer-bg{
  background:#aaa linear-gradient(#ccc,#eee 35%, #fff 65%, #fff 100%);
}
.footer{
  background: pink;
  height:10vh;
}